@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,400;0,600;0,900;1,700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

.img-background {
    background-color: #F1F1F1;

}
.perfect-height{
    max-height: 500px;
}